@import url('https://fonts.googleapis.com/css?family=Poppins:,300,400,500, 600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7)),rgba(0,0,0,0.7),url(IMG_9493.JPG);
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    height: 70px;
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -250px;

    
}
header ul{
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    transform: skewY(-15deg);

}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a:hover{
    color: #2b1055;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    padding:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top,);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: relative;
    margin-top: -400px;
    left:600px;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;

}
#words{
    display: flex;
    align-items: center;
    margin-top: -100px;
    margin-right:1200px;
    color: #fff;
    white-space: nowrap;
    font-size: 30px;
    z-index: 9;

    
}

#btn
{
    margin-left: -700px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.0em;
    z-index: 9;
    transform: translateY(100px);

}
.sec{
    position: relative;
    padding: 100px;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1em;
    color: #fff;
}

ul li{
    position: relative;
    list-style: none;
    width: 200px;
    background: #2b1055;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
ul li:hover{
    background: #33a3ee;
    transform: translate(-50px);
}

ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2b1050;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #2b1050;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5s;
}

ul li:hover::before{
    background:#2982b9;
}

ul li:hover::after{
    background: #2982b9;
}


ul li:hover a{
    color: #fff;
}

ul li :last-child::after{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}



.github{
    height: 50px;
    width: 50px;
    position: relative;
    margin-top: 250px;
    left: -800px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(220deg) brightness(95%) contrast(80%);

}

.twitter{
    height: 50px;
    width: 50px;
    position: relative;
    margin-top: 240px;
    left: -630px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(510deg) brightness(95%) contrast(100%);

}


section .contact{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .email {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 550px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  #copyright{
    color:grey;
    font-size: 12px;
}
